body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.background{
    background-image: url("../images/Reservation Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
     
}

.container{   
    width: 22vw;
    height: 70vh;  
    background-color: rgba(255,255,255,0.7);
    padding: 4vw;
    margin-top: 5vh;
    margin-left: 5vw;
    
}

.header{
    margin: 0 auto 5vh auto;
    text-align: center;
}

.header > label{
    font-size: 2.5vw;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,73,9,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.header > p{
    margin-top: 2vh;
    font-style: italic;
    font-size: 1.1vw;
}

input.span1{
    margin: 2vh auto 2vh auto;
    width: 20vw;
    padding: 10px;
    border-radius: 7px;
    border-color: whitesmoke;
}

p.span1{
    margin: 0px auto;
    width: 100%;
    padding: 5px;
    color: red;
}

input.span2{
    margin: 2vh auto 2vh auto;
    width: 20vw;
    padding: 10px;
    border-radius: 7px;
    border-color: white;
}

form > a{
    float: left;
    margin: 2vh auto 2vh auto;
    font-size: 1.2vw;
}
button{
    margin: 2vh auto 2vh auto;
    border-radius: 7px;
    width: 21.8vw;
    padding: 10px;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    font-weight: 1vw;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,73,9,1) 100%, rgba(0,212,255,1) 100%);
}


.sign-up{
    text-align: center;
    margin: 2vh auto 2vh auto;
    font-size: 1.2vw;
}

.guest-user{
    text-align: center;
    margin: 2vh auto 2vh auto;
    font-size: 1.2vw;
}


@media only screen and (max-width: 500px) {
    body, html{
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    .container{   
        width: 35vw;
        height: 70vh;  
        background-color: rgba(255,255,255,0.7);
        padding: 4vw;
        margin-top: 5vh;
        margin-left: 5vw;
        
    }
    input.span2{
        float: left;
        margin: 0.5vh auto 2vh auto;
        width: 20vw;
        padding: 10px;
    }
    form > a{
        float: left;
        margin-top: 7vh;
        margin-bottom: 5vh;
        position: relative;
        top: 5vh;
        right: 22vw;
        font-size: 1.2vw;
    }
  }