*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
nav{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,73,9,1) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
    overflow: hidden;
}
nav > label{
    color:White;
    font-size: 30px;
    padding:0 50px;
    font-weight: bold;
    line-height: 80px;
}

nav ul {
    list-style: none;
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 10px;
}
nav ul li a {
    color: white;
    font-size: 17px;

    /* a.active, a.hover background radius becomes more visible */
    padding:10px;
    border-radius: 10px;  
}

li > a:hover{
    background-color: burlywood;
}

.background-img{
    background-image: url("../images/Reservation Background.jpg");
    filter: blur(4px);
    height:100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background-color: white; /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 525px) {
    nav {
        display: block;
        padding: 0;
        text-align: center;
    }
    nav > label{
        padding:0px;

    }
    nav ul {
        margin: auto;
        float:none;
        text-align: center;
        align-items: center;
    }
}