{% extends 'base.html' %}

{% block head %}
<title>Final Booking</title>
<link rel="stylesheet" href="static\css\final_booking.css"
{% endblock %}

{% block body %}

<section class = "nav-link">
    <nav>
        <label>Registro</label>
        <ul>
            <li> <a href = "http://127.0.0.1:5000/">Cancel Registration</a></li>
        </ul>
    </nav>
</section>

<section class = "tables">
    <form method = "POST">
        <div class = "table-options">

            {% for i in result %}
        
            <button>{{i[0]}}</button>         
        
            {% endfor %}
        </div>

        <div class = "submit">
            <input type = "text" placeholder= "Enter Table" name = "option" required>
            <button type = "submit">BOOK</button>
        </div>
        
    </form>
</section>

{% endblock %}