{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="static\css\index.css"
{% endblock %}

{% block body %}

<section>
    <div class = "container">
        <div class = "header">
            <label>Registro</label> 
            <p>Restaurant reservation made easier with one click</p>
        </div>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class = "error-message">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}    
    
        <form method = "POST">
                <input type = "text" placeholder="Email Address" name = "email" required>
                <input type = "password" placeholder="New Password" name = "new_password" required>
                <input type = "password" placeholder="Confirm Password" name = "confirm_password" required>

            <button type = "submit">Change Password</button>
        </form>
        <div class = "sign-up">
            <p>Not a member? <a href = sign_up>Sign Up Now</a> </p>   
        </div>
        <div class = "guest-user">
            <a href = guest_reservation>Guest-User</a> 
        </div>
    </div>
</section>

{% endblock %}