{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="static\css\index.css"
{% endblock %}

{% block body %}

<section class = "log-in">
    <div class = container>
        <div class = "header">
            <h1>Login Form</h1> 
        </div>
        <div class = "body">
            <form>
                <span>
                    <input class = "span1" type = "text" placeholder="Email Address" name = "">
                </span>
                <span>
                    <input class = "span2" type = "password" placeholder="Password" name = "">
                </span>
                <a href = #>Forgot password?</a> 
                <button type = "submit">LogIn</button>
            </form>
        </div>
        <div class = "sign-up">
            <p>Not a member? <a href = #>Signup now</a> </p>   
        </div>
        <div class = "guest-user">
            <a href = #>Guest-User</a> 
        </div>
    </div>
</section>

{% endblock %}