{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="static\css\index.css"
{% endblock %}

{% block body %}

<section class = "nav">
    <div class = "background-card">
        <img alt = "background" src = "static/images/Home Page Background.jpg">
    </div>
</section>

<section class = "log-in">
    <div class = container>
        <div class = "header">
            <h1>Login</h1> 
        </div>
        <div class = "body">
            <form>
                <span>
                    
                    <input type = "text" placeholder="Email" name = "">
                </span>
                <span>
                    <input type = "password" placeholder="Password" name = "">
                </span>
                <button type = "submit">LogIn</button>
            </form>
        </div>
        <div class = "sign-up">
            <p>Don't have an account: <a href = #>Sign Up</a> </p>   
        </div>
        <div class = "guest-user">
            <a href = #>Guest-User</a> 
        </div>
    </div>
</section>
</html>


{% endblock %}