{% extends 'base.html' %}

{% block head %}
<title>Reservation</title>
<link rel="stylesheet" href="static\css\reservation.css"
{% endblock %}

{% block body %}
<section class = "nav-link">
    <nav>
        <label>Registro</label>
        <ul>
            <li> <a href = "http://127.0.0.1:5000/">Login</a></li>
            <li> <a href = "sign_up">Sign Up</a></li>
        </ul>
    </nav>
</section>

<div class = "background-img"></div>
<div class="bg-text">
    <div class = "header">
        <label>Registro</label> 
        <p>Restaurant reservation made easier with one click</p>
    </div>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class = "span1">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}    
    <form method = "POST">
        <span>
            <input class = "span1" type = "text" placeholder= "Name" name = "name" required>
        </span>
        <span>
            <input class = "span1" type = "tel" placeholder= "Phone No." name = "contact"  required>
        </span>
        <span>
            <input class = "span1" type = "email" placeholder="Email Address" name = "email" required>
        </span>
        <span>
            <input class = "span1" type = "datetime-local" placeholder="Date and Time" name = "date" required>
        </span>
        <span>
            <input class = "span1" type = "number" placeholder= "No. of Guests for Dining" min = "1" max = "10" name = "guest" required>
        </span>
        <button type = "submit">LogIn</button>
    </form>
    
</div>

{% endblock %}