{% extends 'base.html' %}

{% block head %}
<title>Sign Up Page</title>
<link rel="stylesheet" href="static\css\sign_up.css"
{% endblock %}

{% block body %}

<section class = "log-in">
    <div class = container>
        <div class = "header">
            <label>Sign Up Form</label> 
        </div>
        <div class = "body">
            <form  method = "POST">
                <span>
                    <input class = "span1" type = "text" placeholder="First Name" name = "fname">
                </span>
                <span>

                    <input class = "span1" type = "text" placeholder="Last Name" name = "lname">
                </span>
                <span>
                    <input class = "span1" type = "text" placeholder="Phone Number" name = "contact">
                </span>
                <span>
                    <input class = "span1" type = "text" placeholder="Email Address" name = "email">
                </span>
                <span>
                    <input class = "span1" type = "password" placeholder="Create Password" name = "pass_word">
                </span>
                <span>
                    <input class = "span1" type = "password" placeholder="Confirm Password" name = "pass_c">

                </span>
                
                <button type = "submit">Sign Up</button>
            </form>
        </div>
        <div class = "sign-up">
            <p>Already a member? <a href = "http://127.0.0.1:5000/">Login Now</a> </p>   
        </div>
        <div class = "guest-user">
            <a href = reservation>Continue as Guest</a> 
        </div>
    </div>
</section>
{% endblock %}