{% extends 'base.html' %}

{% block head %}
<title>Reservation</title>
<link rel="stylesheet" href="static\css\reservation.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
{% endblock %}

{% block body %}
<section class = "nav-link">
    <nav>
        <label>
            <a href = "http://127.0.0.1:5000/">Registro</a>
        </label>
        <ul> 
            <li> <a href = "">{{session.name}} </a></li>
            <li> <a href = "http://127.0.0.1:5000/">Sign out</a></li>
        </ul>
    </nav>
</section>

<section class = "main">
    <div class="container">
        <div class = "header">
            <label>Registro</label> 
            <p>Restaurant reservation made easier with one click</p>
        </div>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p class = "error-message">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}    
            
        <form method = "POST">
            <span>
                <input type = "text" placeholder= "Name" name = "name2" required>
            </span>
            <span>
                <input type = "tel" placeholder= "Phone No." name = "contact"  required>
            </span>
            <span>
                <input type = "email" placeholder="Email Address" name = "email" required>
            </span>
            <span>
                <input id = "dateInput" type = "datetime-local" placeholder="Date and Time" name = "datetime" required>
                <script> 
                    $(document).ready(function(){
                        elem = document.getElementById("dateInput")
                        var iso = new Date().toISOString().slice(0,16) ;
                        elem.min = iso
                        });
                </script>            </span>
            <span>
                <input type = "number" placeholder= "No. of Guests for Dining" name = "count"  min = "2" max = "8" step = "2" required>
            </span>
            <button type = "submit">Let's Go</button>
        </form>
        
    </div>
</section>

{% endblock %}