{% extends 'base.html' %}

{% block head %}
<title>Reservation</title>
<link rel="stylesheet" href="static\css\reservation.css"
{% endblock %}

{% block body %}
<section class = "nav-link">
    <nav>
        <label>
            <a href = "http://127.0.0.1:5000/">Registro</a>
        </label>
        <ul> 
            <li> <a href = "http://127.0.0.1:5000/">Hello {{session.name}} </a></li>
            <li> <a href = "http://127.0.0.1:5000/">Sign out</a></li>
        </ul>
    </nav>
</section>

<div class = "background-img"></div>
<div class="bg-text">
    <div class = "header">
        <label>Registro</label> 
        <p>Restaurant reservation made easier with one click</p>
    </div>

    <form method = "POST">
        <span>
            <input class = "span1" type = "text" placeholder= "Name" name = "" required>
        </span>
        <span>
            <input class = "span1" type = "text" placeholder= "Phone no." name = "" required>
        </span>
        <span>
            <input class = "span1" type = "text" placeholder="Email Address" name = "" required>
        </span>
        <span>
            <input class = "span1" type = "datetime-local" placeholder="Date and Time" name = "" required>
        </span>
        <span>
            <input class = "span1" type = "text" placeholder="No. of Guests for Dining" name = "" required>
        </span>
        <button type = "submit">LogIn</button>
    </form>
    
</div>
{% endblock %}