{% extends 'base.html' %}

{% block head %}
<title>Reservation</title>
<link rel="stylesheet" href="static\css\reservation.css"
{% endblock %}

{% block body %}
<section class = "nav-link">
    <nav>
        <label>Registro</label>
        <ul> 
            <li> <a href = "http://127.0.0.1:5000/">Hello {{session.name}} </a></li>
            <li> <a href = "http://127.0.0.1:5000/">Sign out</a></li>
        </ul>
    </nav>
</section>

<div class = "background-img"></div>
<div class="bg-text">
    <div class = "header">
        <label>Registro</label> 
        <p>Restaurant reservation made easier with one click</p>
    </div>

    <form method = "POST">
        <span>
            <input class = "span1" type = "text" placeholder= "Name" name = "name2" required>
        </span>
        <span>
            <input class = "span1" type = "text" placeholder= "Phone no." name = "contact" required>
        </span>
        <span>
            <input class = "span1" type = "text" placeholder="Email Address" name = "email" required>
        </span>
        <span>
            <input class = "span1" type = "datetime-local" placeholder="Date and Time" name = "datetime" required>
        </span>
        <span>
            <input class = "span1" type = "text" placeholder="No. of Guests for Dining" name = "count" required>
        </span>
        <button type = "submit">Let's go</button>
    </form>
    
</div>
{% endblock %}